<?xml version="1.0"?>

<launch>
    <!--rosparam command="load" file="$(find robot_self_filter)/launch/self_filter.yaml"/-->

    <node pkg="robot_self_filter" type="self_filter" name="self_filter" cwd="node" respawn="false" output="screen">
	<remap from="cloud_in" to="/cam3d/depth/points"/>
	<remap from="cloud_out" to="tilt_cloud_filtered"/>

	<param name = "sensor_frame" type="string" value="camera_link"/>

	<param name = "min_sensor_dist" type="double" value="0.1"/>
	<param name = "max_sensor_dist" type="double" value="5"/>
	<param name = "self_see_default_padding" type="double" value="0.01"/>
	<param name = "self_see_default_scale" type="double" value="1.0"/>
	<param name = "filter/model_pose_update_interval" type="double" value="0.02"/>
	<param name = "invert" type="bool" value="true"/>	<!-- keep only the points that are outside of the robot -->

        <rosparam param="self_see_links">[{"name":"shoulder_link","padding":0.05,"scale":1.1},{"name":"upper_arm_link","padding":0.05,"scale":1.1}, {"name":"forearm_link","padding":0.05,"scale":1.1}, {"name":"wrist_1_link","padding":0.05,"scale":1.1},{"name":"wrist_2_link","padding":0.05,"scale":1.1},{"name":"wrist_3_link","padding":0.05,"scale":1.1}]</rosparam>
    </node>

</launch>

